﻿body {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: medium;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    color:darkgreen;
    /*background: url("slider-1.jpg");*/
}

@font-face {
    font-family: "porto";
    src: url("http://autored.rbw.ro/fonts/porto-font/porto.eot?23364375#iefix") format("embedded-opentype"), url("http://autored.rbw.ro/fonts/porto-font/porto.woff2?23364375") format("woff2"), url("http://autored.rbw.ro/fonts/porto-font/porto.woff?23364375") format("woff"), url("http://autored.rbw.ro/fonts/porto-font/porto.ttf?23364375") format("truetype"), url("http://autored.rbw.ro/fonts/porto-font/porto.svg?23364375#fontello") format("svg");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
.jumbotron {
    height:30px;
    width:auto;
}

p.bar {
    color:black;
    height:3px;
    width:900px;
}

p.bar1 {
    color:black;
    height:3px;
    width:1100px;
}

input {
    color:green;
    background-color:aqua;
    align-content:center;
    padding-right:300px;
}

.cart {
    text-align:justify;
    display:inline;
    align-content:center;
}

#main-toggle-menu {
    display:inline;
}

button {
    color: orangered;
}

.flex-container {
    display: flex;
    align-content: stretch;
    flex-wrap:wrap;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

a.contul-meu{
    font-size:24px;
    color:darkblue;
}

.menu-title{
    font-size:24px;
    display:block;
    padding-right: 100px;
    align-items:end;
}

.current:hover{
    color:black;
    background-color:red;
}

.contain {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
   font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-left>hr {
    color:red;
}

.wrapper {
    display: flex;
    color:red;
    font-size: 20px;

}

.adauga-in-cos {
    color:white;
    background-color:red;
}

.footer {
    background-color:darkslateblue;
}

.info-utile {
    display:block;
    font-size: 12px;
    text-align:center;
}